body {
  font-size: 16px;
  color: #ffff;
  background-color: #61122f;
  font-family: 'Montserrat', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
